/* Author: Shubam Gupta */

/* helper css start */
:root {
  --wizbot-orange: #1492e6;
  --wizbot-blue: #009290;
}
.text-center {
  text-align: center;
}
.blocklyToolboxDiv {
  background: #f2f9ff no-repeat;
  color: #000;

  position: absolute;
}

.bot-icon-custom {
  padding: 20px;
}
.wizbot-icons {
  margin-right: 5px;
}
.dropdown-header {
  color: #efefef;
}
.is-mobile {
  display: none;
}
.is-pc {
  display: none;
}
#snackbar {
  visibility: hidden;
  min-width: 350px;
  margin-left: -125px;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 16px #00000099;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  padding: 26px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 20px;
  font-size: 17px;
  background: #28BD28   url('../../static/images/success.png') 4% 49% no-repeat padding-box;
  background-size: 30px 30px;
}


#snackbar.show{
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
body {
  background: #0089ff no-repeat padding-box;
  margin: 0;
}
/* navigation bar css */
.wizbot-navigation {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: #545456 0% 0% no-repeat padding-box;
  opacity: 1;
}

.run-program-btn {
  top: 18px;
  left: 536px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  opacity: 1;
  text-align: left;
  font: normal normal bold 24px/18px Nunito;
  letter-spacing: 0.48px;
  color: #ffb300;
  background: #fff2d4 url("../../static/images/playbutton.png") -5% 33% no-repeat
    padding-box;

  padding: 15px 29px 15px 48px;
}

.run-program-btn:hover {
  color: #ffb300;
  background: #fff2d4 url("../../static/images/playbutton.png") -5% 33% no-repeat
    padding-box;
}

h5 {
  color: #efefef;
}
.footer {
  padding: 20px 10px 10px 10px;
  left: 0px;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: #0089ff no-repeat padding-box;
  opacity: 1;
  text-align: left;
  font: normal normal bold Nunito;
  letter-spacing: 0.48px;
  font-size: 17px;
  color: #ffffff;
  opacity: 1;
  position: relative;
}
.blocklyTrash {
  margin-top: 2000px;
}
.blocklySvg {
  background-image: url("../../static/images/BackgroundImage.png");
}

/* blockly playground css */
.blockly-playground {
  position: relative;
  height: 80%;
  width: 100%;
}

.custom-tooltip-bot {
  width: 200px;
  display: none;
  font-weight: bold;
  color: #545456;
  background: #ffffff;
  padding: 10px 25px;
  position: absolute;
  right: 5px;
  bottom: 110px;
  font-size: 14px;
  z-index: 1000;
  border-radius: 20px;
  border: 1px solid #545456;
}
