
<div aria-live="polite" aria-atomic="true" >
    <!-- Position it -->
    <div class="toast-section" style="position: absolute; top: 60px; right: 10px;">
        <div class="toast" role="alert" aria-live="polite" aria-atomic="true"
            data-delay="3000" id="notification_id_0">
            <div class="toast-header">
                <img src="../static/images/success.png" class="rounded mr-2 toast-icon" alt="...">
                <strong class="mr-auto toast-head-text">Welcome To Wizbot Playground</strong>
                <small></small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                You can choose options from side menu and see wizbot in action
            </div>  
        </div>
    </div>
</div>